<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body class="container">
<h3 style="text-align: center">Add Customer</h3>
<p>
    <a th:href="@{/customer}">
        Back to customer list
    </a>
</p>
<div class="table">
    <form action="/customer/save" th:object="${customerDto}"
          method="POST" novalidate="novalidate">
<!--        <input type="hidden" th:field="*{idCustomer}"/>-->
        <div>
            <label>Name</label>
            <input type="text" th:field="*{nameCustomer}"/>
                  <p style="color: red" th:if="${#fields.hasErrors('nameCustomer')}"
                     th:errors="*{nameCustomer}"></p>
        </div>
        <div>
            <label>Birth Day</label>
            <input type="date" th:field="*{birthdayCustomer}"/>
                  <p style="color: red" th:if="${#fields.hasErrors('birthdayCustomer')}"
                     th:errors="*{birthdayCustomer}"></p>
        </div>
        <div>
            <label>GenDer</label>
            <select th:field="*{genderCustomer}" >
                <option value="0"> FeMale</option>
                <option value="1"> Male</option>
            </select>

<!--            <input type="text" th:field="*{genderCustomer}"/>-->


            <!--      <p style="color: red" th:if="${#fields.hasErrors('description')}"-->
            <!--         th:errors="*{description}"></p>-->
        </div>
        <div>
            <label>CMND</label>
            <input type="text" th:field="*{idCardCustomer}"/>
                  <p style="color: red" th:if="${#fields.hasErrors('idCardCustomer')}"
                     th:errors="*{idCardCustomer}"></p>
        </div>
        <div>
            <label>Phone</label>
            <input type="text" th:field="*{phoneCustomer}"/>
                  <p style="color: red" th:if="${#fields.hasErrors('phoneCustomer')}"
                     th:errors="*{phoneCustomer}"></p>
        </div>

        <div>
            <label>Email</label>
            <input type="text" th:field="*{emailCustomer}"/>
                  <p style="color: red" th:if="${#fields.hasErrors('emailCustomer')}"
                     th:errors="*{emailCustomer}">

                  </p>
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{addressCustomer}"/>
                  <p style="color: red" th:if="${#fields.hasErrors('addressCustomer')}"
                     th:errors="*{addressCustomer}"></p>
        </div>

        <div>
            <select th:field="*{customerType}">
                <option th:each="customerType:${customerType}"
                        th:value="${customerType.idCustomerType}"
                        th:text="${customerType.nameCustomerType}"></option>
            </select>

        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>

</body>
</html>