<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="~{layout :: top-bootstrap}">

<title>Create Music</title>

</head>
<body>

<h3>Add Music</h3>
<p>
    <a th:href="@{/music}">
        Back to music list
    </a>
</p>

<div id="form">
    <form action="/music/create" th:object="${createMusic}" novalidate="novalidate" method="post">
        <div>
            <label> Tên bài hát </label>
            <input type="text" th:field="*{nameSong}">
        </div>

        <div>
            <label> Tên ca sĩ </label>
            <input type="text" th:field="*{nameSinger}">
        </div>

        <div>
            <label> Tên thể loại</label>
            <input type="text" th:field="*{category}">
        </div>

        <div>
            <label> Link </label>
            <input type="text" th:field="*{link}">
        </div>

        <div>
            <button type="submit">CREATE</button>
        </div>
    </form>
</div>

<footer th:replace="~{layout :: bot-bootstrap}"></footer>
</body>
</html>