# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Học Tập\Inteillj_idea\Module4\s6_spring_boot\thuc_hanh\spring-customer-management-province\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
