<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<body>
<h3>Mượn sách </h3>
<p>
  <a th:href="@{/}">
    Back to Book list
  </a>
</p>

<form action="/pay" method="post">
<input name="pay" type="text" placeholder="Nhập code user">

  <button type="submit">Search</button>
</form>

<!--<div id="form">-->
<!--  <form th:action="@{/pay}" th:object="${list}"-->
<!--        method="POST" novalidate="novalidate">-->

<!--    <input type="hidden" th:field="*{id}"/>-->
<!--    <div>-->
<!--      <label>Name Book </label>-->
<!--      <input type="text" th:field="*{nameBook}">-->
<!--    </div>-->

<!--    <div><label> Quantity</label>-->
<!--      <input type="text" th:field="*{quantity}">-->

<!--      &lt;!&ndash;            <label th:if="${list.quantity} > 0"&ndash;&gt;-->
<!--      &lt;!&ndash;                   th:value="*{quantity -1 }">&ndash;&gt;-->
<!--      &lt;!&ndash;            </label>&ndash;&gt;-->

<!--    </div>-->
<!--    &lt;!&ndash;        <div>&ndash;&gt;-->
<!--    &lt;!&ndash;            <label> Name User </label>&ndash;&gt;-->
<!--    &lt;!&ndash;            <input type="text" th:field="*{user.nameUser}">&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->

<!--    <input type="submit" value="boorow"/>-->
<!--  </form>-->
<!--</div>-->
<!--<footer></footer>-->
</body>
</html>