<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <div th:fragment="linkbs">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
              integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
    </div>
</head>
<body>

<!--<div>-->
<!--  <form method="get" action="/products" th:object="${productList}">-->

<!--    <input type="text" name="search" placeholder="Nhập tên muốn ?"/>-->
<!--    <button type="submit" value="search"> Search</button>-->

<!--  </form>-->
<!--</div>-->

<h3><a href="/">Book</a></h3>

<p>
    <a href="/products/create">
        Add new Products
    </a>
</p>


<!--<div style="text-align: center">-->

<!--  <a th:if="${productList.hasPrevious()}"-->
<!--     th:href="@{/products/search(page=${productList.number - 1},  sort=${sortBy})}" >-->
<!--    PREVIOUS-->
<!--  </a>-->
<!--  <span th:text="${productList.number + 1}"></span>-->
<!--  /-->
<!--  <span th:text="${productList.totalPages}"></span>-->

<!--  <a th:if="${productList.hasNext()}"-->
<!--     th:href="@{/products/search(page=${productList.number + 1},  sort=${sortBy})}">-->
<!--    NEXT-->
<!--  </a>-->

<!--</div>-->

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
        <span th:text="${user}"></span>
    </div>
</div>
<span th:text="${user}"></span>
<table id="customers">
    <thead>
    <tr>
        <th>Id</th>

        <th>Quantity</th>
<!--        <th>User Name</th>-->
        <th>Borrow books</th>
        <th>Give book back</th>


    </tr>
    </thead>

    <tbody>
    <tr th:each="row : ${list}">
        <td th:text="${row.id}"></td>
<!--        <td th:text="${row.nameBook}"></td>-->
        <td th:text="${row.quantity}"></td>
<!--        <td th:text="${row.userList.}"></td>-->
        <!--        <td th:text="${row.getProducer()}"></td>-->
        <!--        <td th:text="${row.category.nameCategory}"></td>-->


        <td><a th:href="@{/{id}/boorow(id=${row.getId()})}">Borrow books</a></td>
        <!--        <td><a th:href="@{/products/{id}/delete(id=${row.getId()})}">delete</a></td>-->
        <!--        <td><a th:href="@{/products/{id}/view(id=${row.getId()})}">Give book back</a></td>-->
        <td><a th:href="@{/{id}/pay(id=${row.getId()})}">Give book back</a></td>
    </tr>
    </tbody>
</table>

<div th:fragment="jsbs">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#Mytable').dataTable({
                "dom": 'lrtip',
                "lengthChange": false,
                "pageLength": 5
            });
        });</script>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>